{% extends 'base.html' %}
{% load static%}
{% block extraheader %}
    <!-- dataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.25/af-2.3.7/b-1.7.1/b-html5-1.7.1/r-2.2.9/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.25/af-2.3.7/b-1.7.1/b-html5-1.7.1/r-2.2.9/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <link href="https://nightly.datatables.net/responsive/css/responsive.dataTables.css?_=22ba41fc7ee4df4b03cd45a33a9f7849.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/responsive/js/dataTables.responsive.js?_=22ba41fc7ee4df4b03cd45a33a9f7849"></script>


  {% endblock extraheader %}
    <!-- <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
{% block content %}



<style>
  .container {
    background-color: rgba(255, 255, 255, 0.253); 



  }
  table.dataTable {
    font-family: arial, sans-serif;
    color: #0066CC ! important;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0) !important;
    width: 100%;
  }
  
  .table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: black
  }

  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.014);
  } */

  .container {
 
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.205);   

  }
  </style>    
    
    <div class="container">    
      <div class="row">
        <div class="col-md">
          <h2>ALL STUDENTS</h2>
          <hr>
          <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Student-create' %}">Create Student</a>
          <hr>
          <table id="students" class="table">
            <thead>
              <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Belt</th>
                <th>Membership Status</th>
                <th>Membership Type</th>
                <th>Member Since</th>
                <th>Expiration Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <td><a class="btn btn-sm btn-info" href="{% url 'datatables:Student' student.id %}">View</a></td>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td><a href="mailto:{{ student.user }}">{{ student.user }}</a></td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.age }}</td>
                  <th>{{ student.graduation.belt_current }}</th>
                  <th>{{ student.membership.membership_status }}</th>
                  <th>{{ student.membership.membership_type }}</th>
                  <th>{{ student.membership.member_since }}</th>
                  <th>{{ student.membership_member_since }}</th>
    
                  <td><a class="btn btn-sm btn-danger"  href="{% url 'datatables:Student-delete' student.id %}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    
    
      <hr>
    </div>
      

      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
{% endblock %}





{% block js %}

<script src="{% static 'js/data.js' %}"></script>

{% endblock js %}