{%  extends 'base.html' %}
{% load static %}
{% block content %}

<!--FIRST ROW -->


<div class="container">

  <div class="row aligncenter">
    <div class="col-md">
  
      <img src="{{student.profile_img.url}}" style="object-fit:scale-down;
              max-width:400px;
              height:auto;
              border: solid 1px #CCC"/>
      <br>
      <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Student-update' student.id %}">Update Student</a>         
     
      <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'datatables:Student-delete' student.id %}">Delete Student</a>  
  
    </div>
  
    
    <div class="col-md">
      <h1 align="center"> {{ student.first_name }} {{ student.last_name }} </h1>
      <h2 align="center"> {{ student.user }} </h2>
  
  
    </div>
  
    <div class="col-md">
  
      {% if student.membership.membership_type == "GOLD" %}
      <img class="marginauto" src="{% static '/media/dojogold.png'  %}" alt="Avatar" class="avatar-top" width="100" height="100">
      {% elif student.membership.membership_type == "SILVER" %}
      <img class="marginauto" src="{% static '/media/dojosilver.png'  %}" alt="Avatar" class="avatar-top" width="100" height="100">
      {% elif student.membership.membership_type == "BRONZE" %}
      <img class="marginauto" src="{% static '/media/dojobronze.png'  %}" alt="Avatar" class="avatar-top" width="100" height="100">
      {% endif %}
  
  <!--		<img src="{% static '/media/dojowhite.svg'  %}" alt="Avatar" class="avatar-top">-->
      <h2 align="center">Membership <span class="badge badge-bg-rod">{{ student.membership.membership_status }}</span></h3>

      {% if student.membership.member_since is None %}  
      <div style="text-align: center">
        <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Membership-update' student.membership.id %}">create</a></p> 
      </div>
     
      {% elif student.membership.membership_status == "ACTIVE" %}
        <h3> Expires on: {{student.membership.membership_expiration}} </h3>
        <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Membership-update' student.membership.id %}">Update</a></p> 
      {% else %}
        <h3> {{student.membership.membership_expiration}} </h3>
        <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Membership-update' student.membership.id %}">Update</a></p> 
        
      {% endif %}
  
    </div>
 
  <hr>
  
  </div>

<br>
<!--SECOND ROW -->

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Primary Information</h5>
			<hr>		
			<p><b>Phone:</b> {{ student.phone }}</p>
			<p><b>Address:</b> {{ student.address }}</p>
			<p><b>Age:</b> {{ student.age }}</p>
			<p><b>Gender:</b> {{ student.gender }} </p>
      <hr>
      {% if not student.graduation.belt  %}
      <p><b>Graduation:</b> N/A <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Graduation-update' student.graduation.id %}">create</a></p>      
      {% else %}

    
      <p><b>Graduation:</b> <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Graduation-update' student.graduation.id %}">Update</a> </p>


     

      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            {% if student.graduation.belt == "WHITE" %}
            <img class="marginauto" align="left" src="{% static '/media/bjjwhitebelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "BLUE" %}
            <img class="marginauto"  src="{% static '/media/bjjbluebelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "PURPLE" %}
            <img class="marginauto"  src="{% static '/media/bjjpurplebelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "BROWN" %}
            <img class="marginauto"  src="{% static '/media/bjjbrownbelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "BLACK" %}
            <img class="marginauto"  src="{% static '/media/bjjblackbelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% endif %}



          </div>
          <div class="col">
            <p><b>Stripe</b></p>
            <p>{{ student.graduation.stripe }} </p>


          </div>
          <div class="col">
            <p><b>Last Graduation:</b></p>
            <p>{{ student.graduation.belt_since }}</p>
          </div>
        </div>
      </div>
     
      
        
        
      

      {% endif %}
    
      

      <div class="row">
        <div class="col-md">
          <div class="card card-body">
            <h5>Latest Posts</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Post-create' student.id %}">Create Post</a>
        
           
          </div>
        </div>
      </div>

      {% include 'post_list.html' with student=student %}



		</div>
	</div> 

  <!--SECOND COL -->
  <div class="col-md-6">
    <div class="card card-body">
      <h5>Documents</h5>
      <hr>
      {% include "docs_list.html" with student=student %}
    </div>
    
  </div>


</div>






{% endblock content %}
