{%  extends 'base.html' %}
{% load static %}
{% block content %}

<!--FIRST ROW -->


<div class="container">

  <div class="row aligncenter">
    <div class="col-md">
  
      <img src="{{student.profile_img.url}}" style="object-fit:scale-down;
              max-width:400px;
              height:auto;
              border: solid 1px #CCC"/>
      <br><br>
      <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Student-update' student.id %}">Update Student</a>         
     
      <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'datatables:Student-delete' student.id %}">Delete Student</a>  <br>
  
    </div>
  
    
    <div class="col-md">
      <h1 align="center"> {{ student.first_name }} {{ student.last_name }} </h1>
      {% if student.is_kid or student.is_teen %}
      <h3 align="center"><b>Guardian:</b> {{ student.guardians_name }}</h3>
      {% endif %}
      <h2 align="center"> {{ student.user }} </h2>
      <h3 align="center"><b>Status:</b> {{ student.status }}</h3>
  
  
    </div>
  

    <br>
 
  <hr>
  
  {% if request.user.is_superuser %}
  <p><b>Create QR CODE</b> <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:manage_qrcode'%}?studentid={{ student.id }}">Do it</a> </p>
  <p><b>Create Membership</b> <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Membership-update' student.membership.id %}">Do it</a> </p>
  {% endif %}



  </div>

<br>


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Primary Information</h5>
			<hr>
      		
			<p><b>Phone:</b> {{ student.phone }}</p>
			<p><b>Address:</b> {{ student.address }}</p>
      {% if student.status == 'Student' %}
			<p><b>Age:</b> {{ student.age }}</p>
			<p><b>Gender:</b> {{ student.gender }} </p>
      <hr>
      {% if request.user.is_superuser %}
        <p><b>Graduation:</b> <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Graduation-update' student.graduation.id %}">Update</a> </p>
      {% endif %}

      {% if student.graduation.belt  %}

      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            {% if student.graduation.belt == "WHITE" %}
            <img class="marginauto" align="left" src="{% static '/media/bjjwhitebelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "BLUE" %}
            <img class="marginauto"  src="{% static '/media/bjjbluebelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "PURPLE" %}
            <img class="marginauto"  src="{% static '/media/bjjpurplebelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "BROWN" %}
            <img class="marginauto"  src="{% static '/media/bjjbrownbelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% elif student.graduation.belt == "BLACK" %}
            <img class="marginauto"  src="{% static '/media/bjjblackbelt.svg'  %}" alt="Avatar" class="avatar-top" width="100" height="50">
            {% endif %}



          </div>
          <div class="col">
            <p><b>Stripe</b></p>
            <p>{{ student.graduation.stripe }} </p>


          </div>
          <div class="col">
            <p><b>Last Graduation:</b></p>
            <p>{{ student.graduation.belt_since }}</p>
          </div>
        </div>
      </div>
     
      
      {% else %}

      <h2>No Graduation available, please contact the admin</h2>        
      

      {% endif %}
    
      

      <div class="row">
        <div class="col-md">
          <div class="card card-body">
            <h5>Latest Posts</h5>
            <hr>
            {% if request.user.is_superuser %}
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:Post-create' student.id %}">Create Post</a>
            {% endif %}
            <td><a class="btn btn-sm btn-danger"  href="{% url 'datatables:Post-list' student.id %}">View All</a></td>
        
           
          </div>
        </div>
      </div>

      {% include 'post_list.html' with post=post %}



		</div>
	</div> 
  {% endif %}
  <!--SECOND COL -->
  <div class="col-md-6">
    <div class="card card-body">
      <h5>Documents</h5>
      <hr>     
      <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'datatables:document-upload' student.id %}">Upload file</a>
      {% include "docs_list.html" with student=student %}
    </div>
    
  </div>


</div>





{% if messages %}
<ul class="alert alert-primary" role="alert">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



{% endblock content %}
