{% extends 'base.html' %}
{% load static%}
{% block extraheader %}
    <!-- dataTables -->



    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
 


  {% endblock extraheader %}

{% block content %}



<style>
  .container {
    background-color: rgba(255, 255, 255, 0.253); 



  }
  table.dataTable {
    font-family: arial, sans-serif;
    color: #0066CC ! important;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0) !important;
    width: 100%;
  }
  
  .table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: black
  }

  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.014);
  } */

  .container {
 
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.205);   

  }
  </style>    
    
    <div class="container">    
      <div class="row">
        <div class="col-md">
          <h2>ALL STUDENTS</h2>
          <hr>
          <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Student-create' %}">Create Student</a>
          <hr>
          <table id="students" class="table">
            <thead>
              <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Belt</th>
                <th>Membership Status</th>
                <th>Member Since</th>
                <th>Expiration Date</th>
                <th>Auto Renew</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <td><a class="btn btn-sm btn-info" href="{% url 'datatables:Student' student.id %}">View</a></td>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td><a href="mailto:{{ student.user }}">{{ student.user }}</a></td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.age }}</td>
                  <th>{{ student.graduation.belt }}</th>
                  <th>{{ student.membership.is_active }}</th>
                  <th>{{ student.membership.activation_date }}</th>
                  <th>{{ student.membership.expiry_date }}</th>
                  <th>{{ student.membership.autorenew_membership }}</th>
    
                  <td><a class="btn btn-sm btn-danger"  href="{% url 'datatables:Student-delete' student.id %}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    
    
      <hr>
    </div>
      

      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>


{% endblock %}





{% block js %}
<script src="{% static 'js/data.js' %}"></script>
{% endblock js %}