amqp==5.0.6
arrow==1.2.0
asgiref==3.4.1
billiard==3.6.4.0
blessed==1.19.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
dj-database-url==0.5.0
Django==3.2.7
django-extensions==3.1.3
django-picklefield==3.0.1
django-q==1.3.9
django-require-login==1.1.1
django-tables2==2.4.0
django-widget-tweaks==1.4.8
idna==3.2
jsonfield==3.1.0
kombu==5.1.0
Pillow==8.3.2
pkg_resources==0.0.0
prompt-toolkit==3.0.20
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
qrcode==7.3
redis==3.5.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
stripe==2.60.0
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
