{% extends 'base.html' %}
{% block content %}

<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    </style>

<!-- FIRST ROW -->
<div class="container-fluid">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Membership</h1>
    <p class="lead">Adults</p>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">52 Weeks<small class="text-primary">  Save $100!</small></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€90 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Online Access</li>
              <li>Dojo Access</li>
              <li><b>Starter Kit</b></li>
              <li>Members Only Events</li>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=adults 52 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br> <br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=adults 52 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
    
          </div>
        </div>

      </div>
    </div>
  
    <div class="column">
      <div class="card">
        

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">26 Weeks</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€100 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Online Access</li>
              <li>Dojo Access</li>
              <li>Members Only Events</li> 
              <br>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=adults 26 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=adults 26 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
          </div>
        </div>


      </div>
    </div>
    
    <div class="column">
      <div class="card">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">12 Weeks</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€108 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Online Access</li>
              <li>Dojo Access</li>
              <li>Members Only Events</li>
              <br>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=adults 12 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=adults 12 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
          </div>
        </div>

      </div>
    </div>
    
    <div class="column">
      <div class="card">


        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">4 Weeks</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€120 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Online Access</li>
              <li>Dojo Access</li>
              <li>Private Q&A</li>
              <li>Members Only Events</li>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=adults 4 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=adults 4 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
          </div>
        </div>




      </div>
    </div>
  </div>


  <!-- SECOND ROW -->
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Membership</h1>
    <p class="lead">Kids - Younger than 14 Years old</p>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">52 Weeks <small class="text-primary">  Save $100!</small></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€43.2 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Starter Kit</li>
              <li>Members Only Events</li>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=kids 52 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=kids 52 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
    
          </div>
        </div>


      </div>
    </div>
  
    <div class="column">
      <div class="card">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">26 Weeks</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€49 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Members Only Events</li>
              <br>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=kids 26 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=kids 26 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
          </div>
        </div>


      </div>
    </div>
    
    <div class="column">
      <div class="card">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">12 Weeks</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€55 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Members Only Events</li>
              <br>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=kids 12 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=kids 12 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
          </div>
        </div>




      </div>
    </div>
    
    <div class="column">
      <div class="card">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">4 Weeks</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€64.8 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Members Only Events</li>
              <br>
            </ul>
            <a href="{% url 'subscription:checkout'%}?plan=kids 4 weeks"><button type="button" class="btn btn-lg btn-block btn-primary">Credit Card</button></a>
            <br><br>
            <a href="{% url 'subscription:checkout_sepa'%}?plan=kids 4 weeks"><button type="button" class="btn btn-lg btn-block btn-secondary">SEPA</button></a>
          </div>
        </div>

      </div>
    </div>
  </div>
















</div>



{% endblock %}