{% extends 'base.html' %}
{% block content %}

<div class ="container">

    {% if price_age == 'kid' or price_age == 'teen' %}

    <p>I, {{student.guardians_name}} , Guardian of {{student.first_name}} {{student.last_name }} agree with: </p>
    {% else %}
    <p> I, {{student.first_name}} {{student.last_name}} agree with:</p>
    {% endif %}
    <li>
        <ul>Principles</ul>
        <ul>Membership</ul>
        <ul>Graduation</ul>
    </li>

    <form method="POST" action= {% url 'subscription:join' %}> 
        {% csrf_token %}
        <input type="checkbox" id="myterms" name="terms" required>
        <label for="terms">I read and I agree with the terms and conditions above </label>
        <br><br>
        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Proceed</button>
    

    </form>

</div>

<script>
    function TermsSelector() {
      var x = document.getElementById("myterms").required;    
    }
</script>

{% endblock %}








