{% extends 'base.html' %}
{% block content %}

<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    </style>





<div class="container-fluid">
    
<h2>Your Account</h2>
<p>Personal Info</p>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Your Profile</h3>
      {% if has_profile %}
        
        <p><img src="{{user.student.profile_img.url}}" class="card-img-top" alt="Avatar" style="width:30%"></p>
        <p>{{user.student}}</p>  


      <div class="w3-section">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Student' user.student.id  %}">View</a>
        <a class="btn btn-outline-danger   btn-sm btn-block" href="{% url 'datatables:Student-delete' user.student.id  %}">Delete</a>

      </div>

      {% else %}
      <div class="w3-section">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Student-create' %}">Create Profile</a>
      </div>
        <p>This is your first task</p>
        
      {% endif %}
      
    </div>
  </div>




  <div class="column">
    <div class="card">
      <h3>Your Documents</h3>
      {% if has_profile %}
      <div class="w3-section">
          {% if std_id.upload_counter == 0 %}
          <h4>1. Upload Your ID with Signature (example here)</h4>
          {% include "document-upload.html"  %}      


          {% elif std_id.upload_counter == 1 %}
          <h4>2. Upload a Proof of Address (example here)</h4>    
          {% include "document-upload.html"  %}    
          
          {% elif std_id.upload_counter == 2 %}
          <h4>3. Upload DOJO Terms and conditions - Signed up</h4>  
          {% include "document-upload.html"  %}  
          {% else %}
          <p>All Documents uploaded - Use your profile to View / Upload other Files</p>   

      
        {% endif %}


     


      </div>       
      {% endif %}
      
    </div>
  </div>




  <div class="column">
    <div class="card">
      <h3>Your Subscription</h3>
      {% if has_subscription %}
      <div class="w3-section">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'subscription:subscription' %}">View Details</a>
      </div>
      {% elif has_free_subscription %}
      <div class="w3-section">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Membership-display' user.student.membership.id %}">View Details</a>
      </div>
      {% endif %}


      {% if not has_profile %}
      <p>- Create a Profile first</p>
      {% endif %}

      {% if std_id.upload_counter <= 2 %}
      <p>- Upload all documents first</p>
      {% endif %} 

      {% if has_profile and std_id.upload_counter > 2 %}
      {% if not has_subscription or not has_free_subscription %}
      <div class="w3-section">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'subscription:terms' %}">Create</a>
      </div>
      {% endif %}

      {% endif %}
    



    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>QR Access Code</h3>
      {% if has_qr_code %}
      <div class="w3-section">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'attendance:display-qrcode' %}">Display</a>
      </div>
     
      {% else %}
      <p>No QR CODE Available. Subscribe or contact our Admin</p>
      {% endif %}
    </div>
  </div>
  

    

</div>

{% if messages %}
<ul class="alert alert-primary" role="alert">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}




