{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="content">
    <h1>Choose your membership plan</h1>

    <div class="row ">
        {% for p in products %}
        <div class="col-6">
          <div class="card mx-5 shadow" style="border-radius: 10px; border:none; ">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{p.name}}</h5>
              <p class="card-text text-muted"><svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
              </svg>{{p.name}}</p>
    
              {% for plan in p.plan_set.all %}
              <h5 >{{ plan.human_readable_price }}</h5>
              <div class="text-right">
                <input type="checkbox" name="{{p.name}}" value="{{p.id}}" onclick="planSelect('{{p.name}}' ,'{{plan.human_readable_price}}', '{{plan.id}}')">
              {% endfor %}
              </div>
            </div>
          </div>
    
        </div>
<br>
<hr>





</div>


    {% endfor %}
    <div class="row ">
        <p> payment method 1</p>
        <p> payment method n</p>
        <p> BUTTON PROCEED CHECKOUT n</p>

    </div>

{% endblock %}