{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Your Profiles</h2>
    <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Student-create' %}">Create Profile</a>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        
        {% if not profiles %}
        <p>You don't have any profile, create a new one ?</p>
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'datatables:Student-create' %}">Create Profile</a>
        {% else %}
        
        {% for profile in profiles %}
        <div class="col">
          <div class="card">
            <img src="{{profile.profile_img.url}}" class="card-img-top" alt="Avatar" style="width:100%">
            
            <div class="card-body">
              <h5 class="card-title">{{profile.first_name}} {{profile.last_name}}</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
              <td><a class="btn btn-sm btn-info" href="{% url 'datatables:Student' profile.id %}">View</a></td> <a href="#!" class="btn btn-primary">Delete</a>
              <hr>
              <h2>Membership</h2>
              <p>{{profile.membership.membership_status}} </p>
              <td><a class="btn btn-sm btn-info" href="{% url 'datatables:Student' profile.id %}">View</a></td> <a href="#!" class="btn btn-primary">View
                  
              </a>
              <p></p>
            </div>
          </div>
        </div>
        
      
      {% endfor %}
      {% endif %}
    </div>



</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block js %}{% endblock js %}

