{% block content %}
{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  li {
    list-style-type: none;
  }
 
</style>





<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img src="{% static 'media/bjjdojoberlin-logo-150x150-1.png' %}">

  {% if user.is_authenticated %}

  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
       
       
       {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'accounts:home' %}">Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'datatables:Students'%}">Dashboard Admin</a></li>
            <li><a class="dropdown-item" href="/admin">Dashboard Superuser</a></li>
            
            
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:home' %}">Dashboard</a>
        </li>
        {% endif %}


        
      
        {% if request.user.student %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'datatables:Student' user.student.id %}"">Profile</a>
        </li>


        {% endif %}

        {% if request.user.student.membership.is_active %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'subscription:subscription' %}"">Subscription</a>
        </li>


       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'attendance:display-qrcode' %}"">QR CODE</a>
        </li>


        {% endif %}
       
        {% if anythingelse %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Something
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        {% endif %}
      


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         
          <li><a class="dropdown-item" href="{% url 'accounts:delete_account' %}">Delete account</a></li>

        </ul>
      </li>

       
       </ul>
      

    </div>
  </div>



  
  <span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'accounts:user_logout' %}">Logout</a></span>
 
  {% endif %}

</nav>






{% endblock %}