{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="login-heading mb-4">Online Dojo</h1>
                                <h3 class="login-heading mb-4">Change Password</h3>
                                <form method="POST">{% csrf_token %}
                                    <div class="form-label-group">
                                        {% render_field form.old_password class="form-control" type="password" %}
                                        <label for="id_old_password">Old Password</label>
                                        {{ form.old_password.errors }}
                                    </div>
                                    <div class="form-label-group">
                                        {% render_field form.new_password1 class="form-control" type="password" %}
                                        <label for="id_new_password1">New Password</label>
                                        {{ form.new_password1.errors }}
                                    </div>
                                    <div class="form-label-group">
                                        {% render_field form.new_password2 class="form-control" type="password" %}
                                        <label for="id_new_password2">Confirm new Password</label>
                                        {{ form.new_password2.errors }}
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit">Reset Password
                                    </button>
                                </form>
                                <p style="margin-top: 128px;">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}